$active_bold: \e900;
$active: \e901;
$apple: \e902;
$arrow: \e903;
$arrowbold: \e904;
$attention_bold: \e905;
$attention: \e906;
$bell_bold: \e907;
$bell: \e908;
$bold: \e909;
$calendar_bold: \e90a;
$calendar: \e90b;
$camera_add_bold: \e90c;
$camera_add: \e90d;
$camera_bold: \e90e;
$camera: \e90f;
$category_education: \e910;
$category_exercise: \e911;
$category_family: \e912;
$category_food: \e913;
$category_friends: \e914;
$category_relationship: \e915;
$category_travelling: \e916;
$category_work: \e917;
$chat_bold: \e918;
$chat: \e919;
$check_bold: \e91a;
$check: \e91b;
$circle_bold: \e91c;
$circle: \e91d;
$close_bold: \e91e;
$close: \e91f;
$cloud_bold: \e920;
$cloud: \e921;
$compass_bold: \e922;
$compass: \e923;
$completed_bold: \e924;
$completed: \e925;
$courses_bold: \e926;
$courses: \e927;
$down_bold: \e928;
$down: \e929;
$droplet_bold: \e92a;
$droplet: \e92b;
$email_bold: \e92c;
$email: \e92d;
$face_angry: \e92e;
$face_anxious: \e92f;
$face_bad: \e930;
$face_happy: \e931;
$face_okay: \e932;
$face_sad: \e933;
$face_super: \e934;
$facebook: \e935;
$fire_bold: \e936;
$fire: \e937;
$focus_bold: \e938;
$focus: \e939;
$forgot_password_bold: \e93a;
$forgot_password: \e93b;
$gear_bold: \e93c;
$gear: \e93d;
$gender_bold: \e93e;
$gender: \e93f;
$groups_bold: \e940;
$groups: \e941;
$hand: \e942;
$hands_up: \e943;
$headphones_bold: \e944;
$headphones: \e945;
$heart_bold_filled: \e946;
$heart_bold: \e947;
$heart_filled: \e948;
$heart: \e949;
$home_bold: \e94a;
$home: \e94b;
$image_bold: \e94c;
$image: \e94d;
$instagram: \e94e;
$italic_bold: \e94f;
$italic: \e950;
$left_bold: \e951;
$left: \e952;
$line_graph_bold: \e953;
$line_graph: \e954;
$lists_bold: \e955;
$lists: \e956;
$location_bold: \e957;
$location: \e958;
$logout_bold: \e959;
$logout: \e95a;
$meal_bold: \e95b;
$meal: \e95c;
$menu_bold: \e95d;
$menu: \e95e;
$minus_bold: \e95f;
$minus: \e960;
$mood_angry: \e961;
$mood_anxious: \e962;
$mood_blessed: \e963;
$mood_confused: \e964;
$mood_down: \e965;
$mood_good: \e966;
$mood_happy: \e967;
$mood_lucky: \e968;
$mood_stressed: \e969;
$more_bold: \e96a;
$more: \e96b;
$mouse_bold: \e96c;
$mouse: \e96d;
$navigate_bold: \e96e;
$navigate: \e96f;
$padlock_round_locked_bold: \e970;
$padlock_round_locked: \e971;
$padlock_round_unlocked_bold: \e972;
$padlock_round_unlocked: \e973;
$padlock_square_locked_bold: \e974;
$padlock_square_locked: \e975;
$pause_filled: \e976;
$pause: \e977;
$peace: \e978;
$pen_add_bold: \e979;
$pen_add: \e97a;
$pen_bold: \e97b;
$pen_edit_bold: \e97c;
$pen_edit: \e97d;
$pen: \e97e;
$phone_bold: \e97f;
$phone: \e980;
$pie_bold: \e981;
$pie: \e982;
$pin_bold: \e983;
$pin: \e984;
$play_filled: \e985;
$play: \e986;
$plus_bold: \e987;
$plus: \e988;
$present_bold: \e989;
$present: \e98a;
$profile_add_bold: \e98b;
$profile_add: \e98c;
$profile_bold: \e98d;
$profile: \e98e;
$reflectly: \e98f;
$refresh_bold: \e990;
$refresh: \e991;
$right_bold: \e992;
$right: \e993;
$search_bold: \e994;
$search: \e995;
$settings_bold: \e996;
$settings: \e997;
$share_bold: \e998;
$share: \e999;
$small_line_graph_bold: \e99a;
$small_line_graph: \e99b;
$snapchat: \e99c;
$sort_bold: \e99d;
$sort: \e99e;
$squiggle_bold: \e99f;
$squiggle: \e9a0;
$star_bold: \e9a1;
$star: \e9a2;
$sun_bold: \e9a3;
$sun: \e9a4;
$sunrise_bold: \e9a5;
$sunrise: \e9a6;
$thumb_down_bold: \e9a7;
$thumb_up_bold: \e9a8;
$time_refresh_bold: \e9a9;
$time_refresh: \e9aa;
$trashcan_bold: \e9ab;
$trashcan: \e9ac;
$twitter: \e9ad;
$up_bold: \e9ae;
$up: \e9af;
$username_bold: \e9b0;
$username: \e9b1;
$watch_bold: \e9b2;
$watch: \e9b3;
$weather_bold: \e9b4;
$weather: \e9b5;
